
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.skills .tools ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.skills .tools ul li img{
    max-width: 100px;
    margin: 0.5rem;

}

.skills .personal ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    
}

.skills .personal ul li{
    margin-left: 2rem;
    padding: .5rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;

}

.content .skills h3{
    color: #000;
}

/* .skills .tools .personal h3{
    font-size: 1.5rem;
    font-weight: 700;
} */

@media only screen and (min-width: 768px) {
    .skills{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}